:root {
	--base: lightgoldenrodyellow;
	--text: #0A1214;
}

@media (prefers-color-scheme: dark) {
	--base: #0A1214;
	--text: lightgoldenrodyellow;
}

html {
	color-scheme: light dark;
}

body {
	all: unset;
	transition: 0.5s;
	background-color: var(--base);
	color: var(--text);
}

[data-theme='light'] {
	color-scheme: light;
	--base: lightgoldenrodyellow;
	--text: #0A1214;
}

[data-theme='dark'] {
	color-scheme: dark;
	--base: #0A1214;
	--text: lightgoldenrodyellow;

}

button {
	all: unset;
	text-align: center;
	margin: 0 5px;
}

a {
	all: unset;
	margin-right: 10px;
}

a:hover {
	filter: opacity(50%);
	transition: 0.5s;
}

.container {
	width: min(1000px, 100%);
	margin: auto;
}


h1,
h2 {
	text-align: center;
	color: var(--text);
}

h1 {
	display: flex;
	margin-left: 20px;
}

.content_container {
	display: flex;
	align-items: center;
	margin-right: 15px;
}

ul {
	all: unset
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

mood-button {
	display: flex;
	justify-content: center;
	width: 200px;
	height: 50px;
	font-size: 20px;
	border-radius: 1em;
	background: transparent;
}

#fun {
	background-color: palevioletred;
}

#aggressive {
	background-color: orangered;
}

#author {
	background-color: blueviolet;
}

#inspiring {
	background-color: skyblue;
}

#poster {
	display: block;
	margin: 20px auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.title {
	display: block;
	transition: 0.5s;
	text-align: center;
	font-size: 44px;
}

.mood_flex {
	display: flex;
	justify-content: space-evenly;
}

#rating {
	display: block;
	text-align: center;
	font-size: 44px;
}

.bad {
	color: darkred;
}

.average {
	color: olive;
}

.good {
	color: skyblue;
}

.masterpiece {
	color: goldenrod;
}

#likeness {
	display: flex;
	padding-top: 40px;
	align-items: center;
	justify-content: center;
}

.rate {
	height: 75px;
	width: 75px;
	border-radius: 15px;
}

#letterboxd:hover {
	filter: brightness(70%);
	transition: 0.5s;
}

#letterboxd {
	transform: rotate(0deg);
	transition: 1s;
}

#like {
	background-color: darkgreen;
	margin-right: 70px;
}

#like:hover {
	transform: scale(1.05);
	transition: 0.5s;
}

#likeness:has(#like:hover) #letterboxd {
	transform: rotate(-15deg) scale(1.05);
	transition: 1s;
}

#likeness:has(#like:active) #letterboxd {}

#dislike {
	background-color: darkred;
	margin-left: 70px;
}

#dislike:hover {
	transform: scale(1.05);
	transition: 0.5s;
}

#likeness:has(#dislike:hover) #letterboxd {
	transform: rotate(15deg) scale(1.05);
	transition: 1s;
}

.poster_thumb {
	height: 125px;
	width: auto;
	margin: 5px;
	border-radius: 4px;
}

.like_poster {
	border: lawngreen 3px solid;
}

.dislike_poster {
	border: red 3px solid;
}

#reset {
	width: 200px;
	height: 40px;
	background-color: darkgoldenrod;
	display: flow;
	margin: 50px auto 0px;
}

#history {
	display: flex;
	justify-content: space-evenly;
}

#like_container,
#dislike_container {
	margin: 0 30px;
}

@media screen and (max-width: 450px) {
	#letterboxd {
		width: 350px;
	}
}
